body {
    background-color: yellow;
}

h1, h2 {
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}


.container {
    width: 600px;
    margin: auto;
    cursor: url(../img/hand.png), auto;
    
}

.container:active {
    cursor: url(../img/slap.png) ,auto;
}

button {
    display: block;
    margin: auto;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/dirt.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -10;
}

.kuntolo {
    width: 100%;
    height: 100%;
    background: url(../img/kuntolo.png) bottom center no-repeat;
    background-size: 70%;
    position: absolute;
    top: 100px;
    transition: top .4s;
}

.tanah.muncul .kuntolo {
    top: -20;
}

/* responsive */

@media screen and (max-width: 600px) {
    .container {
      width: 100%;
      max-width: none; /* Remove max-width on smaller screens */
    }
  
    .tanah {
      width: 33%; /* Make it take full width on smaller screens */
    }
  
    .tanah::after {
      width: 100%; /* Make it take full width on smaller screens */
      height: 200px;
      position: relative;
      overflow: hidden;
      float: left;
    }
  
    .kuntolo {
      top: 60px; /* Adjust top position */
    }
  
    .tanah.muncul .kuntolo {
      top: 0; /* Adjust top position */
    }
  }

